.primer.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.primer.modal.hidden {
  display: none;
}

.primer.modal .background {
  width: 100vw;
  height: 100vh;
  display: fixed;
}
